### SeyedAli SeyedHosseini 9731306

In [1]:
import pandas as pd #for manipulating and reading the csv dataset

In [2]:
data = pd.read_csv("housePrice.csv")
data.head() #Showing some rows of the dataset

   Area  Room  Parking  Warehouse  Elevator         Address       Price
0    63     1     True       True      True         Shahran  1850000000
1    60     1     True       True      True         Shahran  1850000000
2    79     2     True       True      True          Pardis   550000000
3    95     2     True       True      True   Shahrake Qods   902500000
4   123     2     True       True      True  Shahrake Gharb  7000000000

## Preparation

In [3]:
data #General overview about dataset

      Area  Room  Parking  Warehouse  Elevator             Address       Price
0       63     1     True       True      True             Shahran  1850000000
1       60     1     True       True      True             Shahran  1850000000
2       79     2     True       True      True              Pardis   550000000
3       95     2     True       True      True       Shahrake Qods   902500000
4      123     2     True       True      True      Shahrake Gharb  7000000000
...    ...   ...      ...        ...       ...                 ...         ...
3468    86     2     True       True      True  Southern Janatabad  3500000000
3469    83     2     True       True      True            Niavaran  6800000000
3470    75     2    False      False     False              Parand   365000000
3471   105     2     True       True      True              Dorous  5600000000
3472    82     2    False       True      True              Parand   360000000

[3473 rows x 7 columns]

In [4]:
data_2 = data.dropna() #Ridding of empty cells
data_2

      Area  Room  Parking  Warehouse  Elevator             Address       Price
0       63     1     True       True      True             Shahran  1850000000
1       60     1     True       True      True             Shahran  1850000000
2       79     2     True       True      True              Pardis   550000000
3       95     2     True       True      True       Shahrake Qods   902500000
4      123     2     True       True      True      Shahrake Gharb  7000000000
...    ...   ...      ...        ...       ...                 ...         ...
3468    86     2     True       True      True  Southern Janatabad  3500000000
3469    83     2     True       True      True            Niavaran  6800000000
3470    75     2    False      False     False              Parand   365000000
3471   105     2     True       True      True              Dorous  5600000000
3472    82     2    False       True      True              Parand   360000000

[3450 rows x 7 columns]

In [5]:
data_2.Price.describe() # Fiding the required parameters

count    3.450000e+03
mean     5.375563e+09
std      8.125918e+09
min      3.600000e+06
25%      1.419250e+09
50%      2.900000e+09
75%      6.000000e+09
max      9.240000e+10
Name: Price, dtype: float64

In [6]:
#Now, we will create a mapping function (salary_stats) and use the DataFrame.map()
#function to create a new column from an existing column
def price_level(value):
  if value < 1.415e+9: 
    return "cheap"
  if 1.415e+9 <= value < 2.88e+9:
    return "undermean"
  if 2.88e+9 <= value < 6e+9:
    return "Uppermean"
  elif 6e+9 <= value <= 9.24e+9:
    return "expensive"

In [7]:
data_2['Price_Level'] = data_2['Price'].map(price_level)
#Using DataFrame.map() function to create new column from existing column using a mapping function
display(data_2.head())

<ipython-input-7-ea3c644c74fa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['Price_Level'] = data_2['Price'].map(price_level)

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price_Level
0,63,1,True,True,True,Shahran,1850000000,undermean
1,60,1,True,True,True,Shahran,1850000000,undermean
2,79,2,True,True,True,Pardis,550000000,cheap
3,95,2,True,True,True,Shahrake Qods,902500000,cheap
4,123,2,True,True,True,Shahrake Gharb,7000000000,expensive

In [8]:
data_2

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price_Level
0,63,1,True,True,True,Shahran,1850000000,undermean
1,60,1,True,True,True,Shahran,1850000000,undermean
2,79,2,True,True,True,Pardis,550000000,cheap
3,95,2,True,True,True,Shahrake Qods,902500000,cheap
4,123,2,True,True,True,Shahrake Gharb,7000000000,expensive
...,...,...,...,...,...,...,...,...
3468,86,2,True,True,True,Southern Janatabad,3500000000,Uppermean
3469,83,2,True,True,True,Niavaran,6800000000,expensive
3470,75,2,False,False,False,Parand,365000000,cheap
3471,105,2,True,True,True,Dorous,5600000000,Uppermean
3472,82,2,False,True,True,Parand,360000000,cheap

##### Label Encoding

In [9]:
from sklearn.preprocessing import LabelEncoder
#create instance of label encoder
lab = LabelEncoder()

In [10]:
data_2['Parking'] = lab.fit_transform(data_2['Parking'])
data_2['Warehouse'] = lab.fit_transform(data_2['Warehouse'])
data_2['Elevator'] = lab.fit_transform(data_2['Elevator'])
data_2['Address'] = lab.fit_transform(data_2['Address'])
data_2

<ipython-input-10-9c4e35ad5fe7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['Parking'] = lab.fit_transform(data_2['Parking'])
<ipython-input-10-9c4e35ad5fe7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['Warehouse'] = lab.fit_transform(data_2['Warehouse'])
<ipython-input-10-9c4e35ad5fe7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['Elevator'] = lab.fit_transform(data_2['Elevator'])
<ipython-input-10-9c4e35ad5fe7>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['Address'] = lab.fit_transform(data_2['Address'])

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price_Level
0,63,1,1,1,1,156,1850000000,undermean
1,60,1,1,1,1,156,1850000000,undermean
2,79,2,1,1,1,117,550000000,cheap
3,95,2,1,1,1,152,902500000,cheap
4,123,2,1,1,1,150,7000000000,expensive
...,...,...,...,...,...,...,...,...
3468,86,2,1,1,1,163,3500000000,Uppermean
3469,83,2,1,1,1,105,6800000000,expensive
3470,75,2,0,0,0,115,365000000,cheap
3471,105,2,1,1,1,39,5600000000,Uppermean
3472,82,2,0,1,1,115,360000000,cheap

##### Normalization

In [11]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [12]:
data_2['Area'] = scaler.fit_transform(data_2['Area'].values.reshape(-1,1))[:,0]
data_2['Room'] = scaler.fit_transform(data_2['Room'].values.reshape(-1,1))[:,0]
data_2['Parking'] = scaler.fit_transform(data_2['Parking'].values.reshape(-1,1))[:,0]
data_2['Warehouse'] = scaler.fit_transform(data_2['Warehouse'].values.reshape(-1,1))[:,0]
data_2['Elevator'] = scaler.fit_transform(data_2['Elevator'].values.reshape(-1,1))[:,0]
data_2['Address'] = scaler.fit_transform(data_2['Address'].values.reshape(-1,1))[:,0]
data_2['Price'] = scaler.fit_transform(data_2['Price'].values.reshape(-1,1))[:,0]
data_2

<ipython-input-12-9bc236dcb6ac>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['Area'] = scaler.fit_transform(data_2['Area'].values.reshape(-1,1))[:,0]
<ipython-input-12-9bc236dcb6ac>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['Room'] = scaler.fit_transform(data_2['Room'].values.reshape(-1,1))[:,0]
<ipython-input-12-9bc236dcb6ac>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['Parking'] = scaler.fit_transform(data_2['Parking'].values.reshape(-1,1))[:,0]
<ipython-input-12-9bc236dcb6ac>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['Warehouse'] = scaler.fit_transform(data_2['Warehouse'].values.reshape(-1,1))[:,0]
<ipython-input-12-9bc236dcb6ac>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['Elevator'] = scaler.fit_transform(data_2['Elevator'].values.reshape(-1,1))[:,0]
<ipython-input-12-9bc236dcb6ac>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['Address'] = scaler.fit_transform(data_2['Address'].values.reshape(-1,1))[:,0]
<ipython-input-12-9bc236dcb6ac>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['Price'] = scaler.fit_transform(data_2['Price'].values.reshape(-1,1))[:,0]

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price_Level
0,-0.631533,-1.422380,0.424135,0.304647,0.519406,1.013652,-0.433929,undermean
1,-0.674673,-1.422380,0.424135,0.304647,0.519406,1.013652,-0.433929,undermean
2,-0.401453,-0.106774,0.424135,0.304647,0.519406,0.238524,-0.593934,cheap
3,-0.171372,-0.106774,0.424135,0.304647,0.519406,0.934151,-0.550548,cheap
4,0.231268,-0.106774,0.424135,0.304647,0.519406,0.894401,0.199937,expensive
...,...,...,...,...,...,...,...,...
3468,-0.300793,-0.106774,0.424135,0.304647,0.519406,1.152777,-0.230846,Uppermean
3469,-0.343933,-0.106774,0.424135,0.304647,0.519406,0.000023,0.175321,expensive
3470,-0.458973,-0.106774,-2.357739,-3.282491,-1.925275,0.198774,-0.616704,cheap
3471,-0.027572,-0.106774,0.424135,0.304647,0.519406,-1.311732,0.027624,Uppermean
3472,-0.358313,-0.106774,-2.357739,0.304647,0.519406,0.198774,-0.617320,cheap

##### Train & Test spliting

In [13]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(data_2, test_size=0.2)
train

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price_Level
601,0.792089,1.208832,0.424135,0.304647,0.519406,0.894401,0.833804,None
2181,-0.458973,-0.106774,0.424135,0.304647,0.519406,1.013652,-0.278847,Uppermean
89,-0.674673,-0.106774,0.424135,0.304647,-1.925275,1.550279,-0.415467,undermean
2495,-0.458973,-0.106774,-2.357739,-3.282491,-1.925275,0.198774,-0.616704,cheap
3021,0.389449,-0.106774,0.424135,0.304647,0.519406,-0.178853,-0.545933,cheap
...,...,...,...,...,...,...,...,...
271,0.979030,1.208832,0.424135,0.304647,0.519406,0.894401,2.138461,None
245,-0.171372,-0.106774,0.424135,0.304647,0.519406,-1.828484,-0.477008,undermean
317,-0.602773,-1.422380,0.424135,0.304647,0.519406,1.152777,-0.415467,undermean
2507,0.116228,-0.106774,0.424135,0.304647,0.519406,-1.271982,0.003008,Uppermean
1108,0.044328,-0.106774,0.424135,0.304647,0.519406,1.013652,-0.241923,Uppermean

In [14]:
test

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price_Level
2991,0.418209,1.208832,0.424135,0.304647,0.519406,0.655900,-0.027762,Uppermean
2259,-0.458973,-0.106774,-2.357739,0.304647,0.519406,0.198774,-0.614243,cheap
214,-0.085092,-0.106774,0.424135,0.304647,0.519406,-1.609858,-0.375712,undermean
1040,0.116228,-0.106774,0.424135,0.304647,0.519406,0.119273,-0.257924,Uppermean
2010,1.338530,1.208832,0.424135,0.304647,0.519406,-1.808609,0.987655,None
...,...,...,...,...,...,...,...,...
363,0.763329,-0.106774,0.424135,0.304647,0.519406,0.258399,1.332281,None
177,1.626131,1.208832,0.424135,0.304647,0.519406,-0.735355,1.233816,None
1134,0.015568,-0.106774,0.424135,0.304647,0.519406,0.258399,0.286094,expensive
3029,-0.027572,-0.106774,0.424135,0.304647,0.519406,1.013652,-0.193922,Uppermean
3099,-0.818474,-0.106774,-2.357739,0.304647,-1.925275,-0.417353,-0.571780,cheap

## Prediction With Machine Learning

### Regression
##### Linear Regression

In [15]:
data_R_test = test.drop('Price_Level', axis = 1)
data_R_test #deleting Price Level Column for test dataset of Regression

          Area      Room   Parking  Warehouse  Elevator   Address     Price
2991  0.418209  1.208832  0.424135   0.304647  0.519406  0.655900 -0.027762
2259 -0.458973 -0.106774 -2.357739   0.304647  0.519406  0.198774 -0.614243
214  -0.085092 -0.106774  0.424135   0.304647  0.519406 -1.609858 -0.375712
1040  0.116228 -0.106774  0.424135   0.304647  0.519406  0.119273 -0.257924
2010  1.338530  1.208832  0.424135   0.304647  0.519406 -1.808609  0.987655
...        ...       ...       ...        ...       ...       ...       ...
363   0.763329 -0.106774  0.424135   0.304647  0.519406  0.258399  1.332281
177   1.626131  1.208832  0.424135   0.304647  0.519406 -0.735355  1.233816
1134  0.015568 -0.106774  0.424135   0.304647  0.519406  0.258399  0.286094
3029 -0.027572 -0.106774  0.424135   0.304647  0.519406  1.013652 -0.193922
3099 -0.818474 -0.106774 -2.357739   0.304647 -1.925275 -0.417353 -0.571780

[690 rows x 7 columns]

In [16]:
data_R_train = train.drop('Price_Level', axis = 1)
data_R_train #deleting Price Level Column for train dataset of Regression

          Area      Room   Parking  Warehouse  Elevator   Address     Price
601   0.792089  1.208832  0.424135   0.304647  0.519406  0.894401  0.833804
2181 -0.458973 -0.106774  0.424135   0.304647  0.519406  1.013652 -0.278847
89   -0.674673 -0.106774  0.424135   0.304647 -1.925275  1.550279 -0.415467
2495 -0.458973 -0.106774 -2.357739  -3.282491 -1.925275  0.198774 -0.616704
3021  0.389449 -0.106774  0.424135   0.304647  0.519406 -0.178853 -0.545933
...        ...       ...       ...        ...       ...       ...       ...
271   0.979030  1.208832  0.424135   0.304647  0.519406  0.894401  2.138461
245  -0.171372 -0.106774  0.424135   0.304647  0.519406 -1.828484 -0.477008
317  -0.602773 -1.422380  0.424135   0.304647  0.519406  1.152777 -0.415467
2507  0.116228 -0.106774  0.424135   0.304647  0.519406 -1.271982  0.003008
1108  0.044328 -0.106774  0.424135   0.304647  0.519406  1.013652 -0.241923

[2760 rows x 7 columns]

In [17]:
import numpy as np
from sklearn.linear_model import LinearRegression
X_train_R = data_R_train.drop(['Price'], axis=1)
X_train_R

          Area      Room   Parking  Warehouse  Elevator   Address
601   0.792089  1.208832  0.424135   0.304647  0.519406  0.894401
2181 -0.458973 -0.106774  0.424135   0.304647  0.519406  1.013652
89   -0.674673 -0.106774  0.424135   0.304647 -1.925275  1.550279
2495 -0.458973 -0.106774 -2.357739  -3.282491 -1.925275  0.198774
3021  0.389449 -0.106774  0.424135   0.304647  0.519406 -0.178853
...        ...       ...       ...        ...       ...       ...
271   0.979030  1.208832  0.424135   0.304647  0.519406  0.894401
245  -0.171372 -0.106774  0.424135   0.304647  0.519406 -1.828484
317  -0.602773 -1.422380  0.424135   0.304647  0.519406  1.152777
2507  0.116228 -0.106774  0.424135   0.304647  0.519406 -1.271982
1108  0.044328 -0.106774  0.424135   0.304647  0.519406  1.013652

[2760 rows x 6 columns]

In [18]:
X_test_R = data_R_test.drop(['Price'], axis=1)
X_test_R

          Area      Room   Parking  Warehouse  Elevator   Address
2991  0.418209  1.208832  0.424135   0.304647  0.519406  0.655900
2259 -0.458973 -0.106774 -2.357739   0.304647  0.519406  0.198774
214  -0.085092 -0.106774  0.424135   0.304647  0.519406 -1.609858
1040  0.116228 -0.106774  0.424135   0.304647  0.519406  0.119273
2010  1.338530  1.208832  0.424135   0.304647  0.519406 -1.808609
...        ...       ...       ...        ...       ...       ...
363   0.763329 -0.106774  0.424135   0.304647  0.519406  0.258399
177   1.626131  1.208832  0.424135   0.304647  0.519406 -0.735355
1134  0.015568 -0.106774  0.424135   0.304647  0.519406  0.258399
3029 -0.027572 -0.106774  0.424135   0.304647  0.519406  1.013652
3099 -0.818474 -0.106774 -2.357739   0.304647 -1.925275 -0.417353

[690 rows x 6 columns]

In [19]:
Y_train_R = data_R_train['Price']
Y_train_R

601     0.833804
2181   -0.278847
89     -0.415467
2495   -0.616704
3021   -0.545933
          ...
271     2.138461
245    -0.477008
317    -0.415467
2507    0.003008
1108   -0.241923
Name: Price, Length: 2760, dtype: float64

In [20]:
Y_test_R = data_R_test['Price']
Y_test_R

2991   -0.027762
2259   -0.614243
214    -0.375712
1040   -0.257924
2010    0.987655
          ...
363     1.332281
177     1.233816
1134    0.286094
3029   -0.193922
3099   -0.571780
Name: Price, Length: 690, dtype: float64

In [21]:
model = LinearRegression()
L_reg = model.fit(X_train_R, Y_train_R)
print("The percision/accuracy of Train Model is ",L_reg.score(X_train_R, Y_train_R))

The percision/accuracy of Train Model is  0.5739617302400895

In [22]:
print("Coefficients of features are :",L_reg.coef_)
print("Independent term in the linear model is :", L_reg.intercept_)

Coefficients of features are : [ 0.73297437  0.07598295 -0.00711253  0.03161909  0.04145523  0.01109665]
Independent term in the linear model is : 0.008077199063186713

In [23]:
Y_pred_R = model.predict(X_test_R)
Y_pred_R.shape

(690,)

In [24]:
from sklearn.metrics import mean_squared_error
print('MSE of linear Regression is: ', mean_squared_error(Y_test_R, Y_pred_R))

MSE of linear Regression is:  0.5862893566579543

In [25]:
model = LinearRegression()
L_reg = model.fit(X_test_R, Y_test_R)
print("The Accuracy of Test in Model is ",L_reg.score(X_test_R, Y_test_R))

The Accuracy of Test in Model is  0.463803241125325

##### Polynomial Regression

In [26]:
### We will use another form of spliting of Dataset

In [27]:
data_3 = data_2.drop('Price_Level', axis = 1)
X = data_3.drop(['Price'], axis=1)
y = data_3['Price']

In [28]:
X

          Area      Room   Parking  Warehouse  Elevator   Address
0    -0.631533 -1.422380  0.424135   0.304647  0.519406  1.013652
1    -0.674673 -1.422380  0.424135   0.304647  0.519406  1.013652
2    -0.401453 -0.106774  0.424135   0.304647  0.519406  0.238524
3    -0.171372 -0.106774  0.424135   0.304647  0.519406  0.934151
4     0.231268 -0.106774  0.424135   0.304647  0.519406  0.894401
...        ...       ...       ...        ...       ...       ...
3468 -0.300793 -0.106774  0.424135   0.304647  0.519406  1.152777
3469 -0.343933 -0.106774  0.424135   0.304647  0.519406  0.000023
3470 -0.458973 -0.106774 -2.357739  -3.282491 -1.925275  0.198774
3471 -0.027572 -0.106774  0.424135   0.304647  0.519406 -1.311732
3472 -0.358313 -0.106774 -2.357739   0.304647  0.519406  0.198774

[3450 rows x 6 columns]

In [29]:
y

0      -0.433929
1      -0.433929
2      -0.593934
3      -0.550548
4       0.199937
          ...
3468   -0.230846
3469    0.175321
3470   -0.616704
3471    0.027624
3472   -0.617320
Name: Price, Length: 3450, dtype: float64

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2) #We want to achieve numpy arrays outof train and test dataset

In [31]:
X_train

          Area      Room   Parking  Warehouse  Elevator   Address
2494 -0.243273 -0.106774  0.424135   0.304647  0.519406 -0.695604
2886 -0.343933 -0.106774  0.424135   0.304647  0.519406  1.550279
743  -0.703433 -1.422380  0.424135   0.304647  0.519406  1.550279
1406  0.188128 -0.106774  0.424135   0.304647  0.519406  0.596275
616   1.050930  1.208832  0.424135   0.304647  0.519406 -1.291857
...        ...       ...       ...        ...       ...       ...
2520 -0.674673 -1.422380  0.424135   0.304647 -1.925275  0.198774
752   0.058708 -0.106774  0.424135   0.304647  0.519406 -0.735355
1069 -0.530873 -1.422380  0.424135   0.304647  0.519406  1.550279
894  -0.415833 -0.106774  0.424135   0.304647  0.519406  1.550279
3196 -0.631533 -0.106774  0.424135   0.304647 -1.925275  0.337899

[2760 rows x 6 columns]

In [32]:
y_test

2169   -0.532394
692    -0.561933
3303   -0.474546
803    -0.605012
948    -0.347157
          ...
2833   -0.539163
573     0.409175
3140   -0.230846
3317   -0.582857
2290   -0.581626
Name: Price, Length: 690, dtype: float64

In [33]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(2) #Create the Polynomial 2nd degree Object
X_poly = poly.fit_transform(X_train) #Fitting data to work properly with sklearn
poly.fit(X_poly,y) #fit polynomial regression model
linear_reg2 = LinearRegression()
Poly_2_t = linear_reg2.fit(X_poly,y_train)
print("Intercept is ",Poly_2_t.intercept_)
print("Coefficients of features are :",Poly_2_t.coef_)

Intercept is  1189662771.0072956
Coefficients of features are : [ 4.25947576e+05  9.40858519e-01 -7.90612117e-02 -7.71953145e+08
 -8.74016522e+08 -6.99211878e+08  2.03935818e-02 -5.66133104e-02
  1.73897325e-01 -1.64138374e-01  1.00217203e-02  1.86148281e-01
  6.55889309e-02  2.41296863e-02  4.66524363e-02  3.58072927e-02
 -5.96486681e-02 -3.49607339e-02 -3.99230137e+08  9.17279092e-03
  4.17886868e-03  3.48987556e-03 -2.93506504e+08 -1.07165346e-02
 -4.09784101e-02 -4.97352077e+08 -3.57705795e-02  5.80717790e-02]

In [34]:
y_predicted = Poly_2_t.predict(poly.fit_transform(X_test)) #We do our prediction based on the Test dataset
y_predicted.shape

(690,)

In [35]:
print("MSE of 2nd degree Regression is :", mean_squared_error(y_test, y_predicted))

MSE of 2nd degree Regression is : 0.26238561009516315

In [36]:
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
print("The percision/accuracy of Test in Model is ",metrics.r2_score(y_test,y_predicted))
#Accuracy (e.g. classification accuracy) is a measure for classification, not regression so we can't calculate accuracy for a regression model

The percision/accuracy of Test in Model is  0.7018778596765797

#### I tried to use score method but all I get was that the X had 6 attributes and Linear Regression requires 28 inputs!!!

#### 3rd degree

In [37]:
poly = PolynomialFeatures(3) #Create the Polynomial 3rd degree Object
X_poly = poly.fit_transform(X_train) #Fitting data to work properly with sklearn
poly.fit(X_poly,y) #fit polynomial regression model
linear_reg3 = LinearRegression()
Poly_3_t = linear_reg3.fit(X_poly,y_train)
print("Intercept is ",Poly_3_t.intercept_)
print("Coefficients of features are :",Poly_3_t.coef_)

Intercept is  5374525.889993851
Coefficients of features are : [ 4.28006419e+03 -2.30241496e+05 -2.91193892e+05 -2.48583133e+06
  2.44417653e+05  1.19194699e+06 -1.31236319e+05 -1.26680166e-01
  4.69080850e-01  1.69337138e+05  5.34196852e+04  1.75350499e+05
 -4.78918276e-03 -1.36791423e-01  7.66095239e+05  4.33583338e+04
 -1.68095618e+05  1.80113503e-02 -5.60566537e+06 -1.70696013e+04
  5.75245841e+06  1.11139854e+05 -1.71709445e+07 -3.37258286e+05
  1.24634359e+05 -9.57420047e+06  4.48531061e+04  7.66601657e-02
  5.06991723e-03 -1.67384113e-02 -3.74841658e-03 -1.05610650e-02
 -9.64929157e-03  4.66588186e-03  4.32269508e-03  1.64981820e-02
  1.02852735e-01 -5.58888540e-03 -2.70202896e-02  8.75757935e+04
  5.97476849e-03  1.48286742e-01 -5.40357069e-02  1.79389909e+04
  1.38878171e-01 -7.63859595e-02  1.24727250e+05  5.63625183e-02
  1.02212818e-01 -2.24246811e-02  1.79199689e-02 -4.57371539e-02
 -4.43737266e-02  5.43708485e-02  3.96200618e+05 -1.55122951e-04
 -3.53421830e-02  5.29444749e-02  1.45603299e+04 -3.76627934e-02
  2.66147042e-02 -1.19566934e+05 -5.73127102e-02 -7.55996536e-02
 -2.38977073e+06 -3.44434028e+06  2.43651056e+06  5.74780802e+04
  2.23078251e+06 -6.72911853e-03  5.62391710e-04  7.40617256e+05
 -9.25917039e-03 -1.54282823e-02 -4.68794500e+06  6.77017578e+05
  4.18538995e+04 -1.67391903e+06  3.90778412e-04 -6.27873000e-04
 -5.96866779e+06  3.19041808e+04  4.83978980e-02  7.02253268e-02]

In [38]:
y_predicted = Poly_3_t.predict(poly.fit_transform(X_test)) #We do our prediction based on the Test dataset
y_predicted.shape

(690,)

In [39]:
print("MSE of 3rd degree Regression is :", mean_squared_error(y_test, y_predicted))

MSE of 3rd degree Regression is : 0.251416374871849

In [40]:
print("The percision/accuracy of Test in Model is ",metrics.r2_score(y_test,y_predicted))
# (coefficient of determination) regression score function.

The percision/accuracy of Test in Model is  0.7143410884386274

#### Conclusion

#### As we increase the degree of Polynomial from 1 to 2, We`ll see that our MSE is declining and accuracy is increasing But when we try degree 3, its not so practiclable; So we might wanna use another type of Prediction to get concrete results.

# Classification

### Decision Tree

In [41]:
data_3 = data_2.drop('Price', axis = 1)
data_3['Price_Level'] = lab.fit_transform(data_3['Price_Level']) #Decicion tree 
                                                                  #works with numerical variables

X = data_3.drop(['Price_Level'], axis=1)
y = data_3['Price_Level'] 
y

0       3
1       3
2       1
3       1
4       2
       ..
3468    0
3469    2
3470    1
3471    0
3472    1
Name: Price_Level, Length: 3450, dtype: int64

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2) #We want to achieve numpy arrays outof train and test dataset
X_train

          Area      Room   Parking  Warehouse  Elevator   Address
2990 -0.343933 -0.106774  0.424135   0.304647  0.519406  1.013652
2224 -0.300793 -0.106774  0.424135   0.304647  0.519406  0.238524
473   0.619529  1.208832  0.424135   0.304647  0.519406 -0.536604
358  -0.085092  1.208832  0.424135   0.304647  0.519406 -1.232231
1267  4.214536  3.840045  0.424135   0.304647 -1.925275 -0.158978
...        ...       ...       ...        ...       ...       ...
628  -0.200132 -0.106774  0.424135   0.304647  0.519406  0.059648
645  -0.099472  1.208832  0.424135   0.304647  0.519406  0.238524
2203 -0.574013 -0.106774 -2.357739   0.304647 -1.925275  0.715526
2917 -0.315173 -0.106774 -2.357739   0.304647 -1.925275 -0.675729
1355  0.475729  1.208832  0.424135   0.304647  0.519406 -1.828484

[2760 rows x 6 columns]

In [43]:
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
clf = DecisionTreeClassifier(criterion = 'entropy') # Create Decision Tree classifer object
clf = clf.fit(X_train, y_train) #Train Decision Tree Classifer
y_pred = clf.predict(X_test) #Predict the response for test dataset

In [44]:
# Model Accuracy 
print("Accuracy of Decision tree about Test vs Prediction is:",metrics.accuracy_score(y_test, y_pred))
print("Precision of Decision Tree in Test vs Prediction is:",metrics.precision_score(y_test, y_pred,average='weighted'))

Accuracy of Decision tree about Test vs Prediction is: 0.7246376811594203
Precision of Decision Tree in Test vs Prediction is: 0.7218422049141103

In [45]:
clf

DecisionTreeClassifier(criterion='entropy')

### Random Forest

In [46]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(criterion = 'entropy') #Random Forest with entropy using
rf = rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)

In [47]:
rf #an Object

RandomForestClassifier(criterion='entropy')

In [48]:
#Model Accuracy 
print("Accuracy of Random FOrest about Test vs Prediction is:",metrics.accuracy_score(y_test, y_pred))
print("Precision of Random FOrest Test vs Prediction is:",metrics.precision_score(y_test, y_pred,average='weighted'))

Accuracy of Random FOrest about Test vs Prediction is: 0.7202898550724638
Precision of Random FOrest Test vs Prediction is: 0.7168927076324412

In [49]:
### Its very similar to Decision tree

### K Nearest Neighbors

#### K = 1

In [50]:
from sklearn.neighbors import KNeighborsClassifier
#When training a kNN classifier, it measures the distance between points.
#The default is to use the Euclidean Distance, which is  the square root of the sum of the squared differences between two points
KNN_1 = KNeighborsClassifier(n_neighbors = 1)
KNN_1 = KNN_1.fit(X_train, y_train)
y_pred = KNN_1.predict(X_test)

In [51]:
KNN_1

KNeighborsClassifier(n_neighbors=1)

In [52]:
#Model K = 1 Accuracy 
print("Accuracy of K Nearest Neighbours with K = 1 about Test vs Prediction is:",metrics.accuracy_score(y_test, y_pred))
print("Precision of K Nearest Neighbours K = 1 Test vs Prediction is:",metrics.precision_score(y_test, y_pred,average='weighted'))

Accuracy of K Nearest Neighbours with K = 1 about Test vs Prediction is: 0.6797101449275362
Precision of K Nearest Neighbours K = 1 Test vs Prediction is: 0.6760583424555454

#### K = 5

In [53]:
KNN_5 = KNeighborsClassifier(n_neighbors = 5)
KNN_5 = KNN_5.fit(X_train, y_train)
y_pred = KNN_5.predict(X_test)
KNN_5

KNeighborsClassifier()

In [54]:
#Model K = 5 Accuracy 
print("Accuracy of K Nearest Neighbours with K = 5 about Test vs Prediction is:",metrics.accuracy_score(y_test, y_pred))
print("Precision of K Nearest Neighbours K = 5 Test vs Prediction is:",metrics.precision_score(y_test, y_pred,average='weighted'))

Accuracy of K Nearest Neighbours with K = 5 about Test vs Prediction is: 0.6768115942028986
Precision of K Nearest Neighbours K = 5 Test vs Prediction is: 0.6765796748336587

#### K = 10

In [55]:
KNN_10 = KNeighborsClassifier(n_neighbors = 10)
KNN_10 = KNN_10.fit(X_train, y_train)
y_pred = KNN_10.predict(X_test)
KNN_10

KNeighborsClassifier(n_neighbors=10)

In [56]:
#Model K = 10 Accuracy 
print("Accuracy of K Nearest Neighbours K = 10 about Test vs Prediction is:",metrics.accuracy_score(y_test, y_pred))
print("Precision of K Nearest Neighbours K = 10 Test vs Prediction is:",metrics.precision_score(y_test, y_pred,average='weighted'))

Accuracy of K Nearest Neighbours K = 10 about Test vs Prediction is: 0.691304347826087
Precision of K Nearest Neighbours K = 10 Test vs Prediction is: 0.6902585734992699

### As we increase K integer, the accuracy is declining. We believe that data is so Diverse

## SVM

In [57]:
from sklearn import svm #Import svm model
L_SVM = svm.SVC(kernel='linear', gamma='scale') #Create a svm Classifier with Linear Kernel
L_SVM.fit(X_train, y_train)
y_pred = L_SVM.predict(X_test)
L_SVM

SVC(kernel='linear')

In [58]:
#Model of Linear SVM`s accuracy
print("Accuracy of Linear SVM in Test vs Prediction is:",metrics.accuracy_score(y_test, y_pred))
print("Precision of Linear SVM in Test vs Prediction is:",metrics.precision_score(y_test, y_pred,average='weighted'))
#a weighted macro average where the weights are the actual positive classes.

Accuracy of Linear SVM in Test vs Prediction is: 0.5405797101449276
Precision of Linear SVM in Test vs Prediction is: 0.5261215956406158

In [59]:
Poly_SVM = svm.SVC(kernel='poly',degree = 7, gamma='scale') #Create a svm Classifier with Linear Kernel
Poly_SVM.fit(X_train, y_train)
y_pred = Poly_SVM.predict(X_test)
Poly_SVM

SVC(degree=7, kernel='poly')

In [60]:
print("Accuracy of Non_Linear 3rd degree SVM in Test vs Prediction is:",metrics.accuracy_score(y_test, y_pred))
print("Precision of Non_Linear 3rd degree in Test vs Prediction is:",metrics.precision_score(y_test, y_pred,average='weighted'))

Accuracy of Non_Linear 3rd degree SVM in Test vs Prediction is: 0.5028985507246376
Precision of Non_Linear 3rd degree in Test vs Prediction is: 0.6019061800466745

##### After testing 3 integer as degrees, 3 12 8, I believe 7 is among the best options

##### Percision is very good and Accuracy is acceptable

# THE END